/*
=================================================
=              Author: Samuel Novoa             =
= Description: CSS for [ actividad04-new.html ] =
=================================================
*/

/*---------------------
Global variables --*/
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root {
     --main-background-color: #1a1a1a;
     --main-font: 'Raleway', sans-serif;
     --first-color: #FFAD00;
     --second-color: #f5a5252a;
     --third-color: #14ffa52a;
}

/*--------
Fonts --*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

p,
li,
ul,
ol,
div,
section,
button,
span {
     font-family: var(--main-font);
     font-weight: 400;
     color: #fff;
}

a {
     font-family: var(--main-font);
     font-weight: 400;
     text-decoration: none;
     color: #fff;
}

/*----------
Headers --*/
h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: var(--main-font);
     font-weight: 300;
     text-transform: uppercase;
     letter-spacing: 2px;
     color: #fff;
}

/*-------------
Scroll bar --*/
::-webkit-scrollbar {
     display: none;
}

/*-------------------
Reponsive Images --*/
img {
     width: 100%;
     object-fit: cover;
}

/*---------
Header --*/
header {
     padding: 10px;
}


header>h1 {
     position: absolute;
     font-weight: 800;
}

/*--------
Body --*/
body {
     background-color: var(--main-background-color);
}

/*-------
Main --*/
main {
     color: #000 !important;
     padding: 0 3vw;
     background-image: url(../../img/img-new-pages/square-neon.svg);
     background-repeat: no-repeat;
     background-size: cover;
}

/*----------
Buttons --*/
button {
     background-color: transparent;
     border: 0;
     font-size: 20px;
     cursor: pointer;
}

/*------------------------------*/
/*-----------
Nav Manu --*/
.open {
     float: right;
     font-size: 30px;
     cursor: pointer;
     color: #fff;
}

.menu {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background: rgba(0, 0, 0, 0.146);
     border-radius: 16px;
     backdrop-filter: blur(20px);
     overflow-x: hidden;
     transition: 0.5s;
}

.menu-active {
     display: block;
     position: relative;
     top: 25%;
     width: 100%;
     text-align: center;
     margin-top: 30px;
}

.menu tablinks {
     padding: 8px;
     text-decoration: none;
     font-size: 36px;
     color: #fff;
     display: block;
     transition: 0.3s;
     font-weight: 300;
}

.menu a:hover,
.menu a:focus {
     color: #818181;
}

.menu .x {
     position: absolute;
     top: 20px;
     right: 45px;
     font-size: 60px;
     color: #fff;
}

/*----------------
Image Spacier --*/
.img-spacier {
     margin-bottom: -4px;
}

/*----------
Columns --*/
.container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;

     width: 100%;
     margin: 0 auto;
}

.item {
     /* width: 30%; */
     flex-basis: 25%;
     margin-bottom: 1rem;
     padding: 1rem;
}

/*----------------
Hide title pc --*/
#hide-title-pc {
     display: none;
}

/*------------
Menu tabs --*/
.tab {
     overflow: hidden;
     border: 1px solid #ccc;
     background-color: #f1f1f1;
}

.tab button {
     background-color: inherit;
     float: left;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 14px 16px;
     transition: 0.3s;
     font-size: 17px;
}

.tab button:hover {
     background-color: #ddd;
}

.tab button.active {
     background-color: #ccc;
}

.tabcontent {
     display: none;
     border: 1px solid #ffffff1d;
     padding: 20px;
     margin: 20px;
}

/* ------------------- */
.wrapper {
     max-width: 50rem;
     width: 100%;
     margin: 0 auto;
}

.tabs {
     position: relative;
     margin: 3rem 0;
     background: #1abc9c;
     height: 14.75rem;
}

.tabs::before,
.tabs::after {
     content: "";
     display: table;
}

.tabs::after {
     clear: both;
}

.tab {
     float: left;
}

.tab-switch {
     display: none;
}

.tab-label {
     position: relative;
     display: block;
     line-height: 2.75em;
     height: 3em;
     padding: 0 1.618em;
     background: #1abc9c;
     border-right: 0.125rem solid #16a085;
     color: #fff;
     cursor: pointer;
     top: 0;
     transition: all 0.25s;
}

.tab-label:hover {
     top: -0.25rem;
     transition: top 0.25s;
}

.tab-content {
     height: 12rem;
     position: absolute;
     z-index: 1;
     top: 2.75em;
     left: 0;
     padding: 1.618rem;
     background: #fff;
     color: #2c3e50;
     border-bottom: 0.25rem solid #bdc3c7;
     opacity: 0;
     transition: all 0.35s;
}

.tab-switch:checked+.tab-label {
     background: #fff;
     color: #2c3e50;
     border-bottom: 0;
     border-right: 0.125rem solid #fff;
     transition: all 0.35s;
     z-index: 1;
     top: -0.0625rem;
}

.tab-switch:checked+label+.tab-content {
     z-index: 2;
     opacity: 1;
     transition: all 0.35s;
}

/*--------------
Media query --*/
@media (max-width: 450px) {
     .menu a {
          font-size: 20px
     }

     .menu .x {
          font-size: 40px;
          top: 15px;
          right: 35px;
     }

     /* -- Header -- */
     #hide-title {
          display: none;
     }

     #hide-title-pc {
          display: block;
     }

     /* -- Columns -- */
     .container {
          display: block;
          flex-direction: column;
          align-items: center;
          margin: 0px;
          width: 100%;
     }

     .item {
          width: 100%;
          max-width: 400px;
          padding: 0px;
     }
}