/*
=================================================
=              Author: Samuel Novoa             =
= Description: CSS for [ actividad04-new.html ] =
=================================================
*/

/*---------------------
Global variables --*/
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root {
     --main-background-color: #1a1a1a;
     --main-font: 'Raleway', sans-serif;
     --first-color: #FFAD00;
     --second-color: #FFAD00;
     --third-color: #810CA8;
}

/*--------
Fonts --*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

p,
li,
ul,
ol,
div,
section,
button {
     font-family: var(--main-font);
     font-weight: 400;
     color: #fff;
}

a {
     font-family: var(--main-font);
     font-weight: 400;
     text-decoration: none;
     color: #fff;
}

/*----------
Headers --*/
h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: var(--main-font);
     font-weight: 300;
     text-transform: uppercase;
     letter-spacing: 2px;
     color: #fff;
}

/*-------------
Scroll bar --*/
::-webkit-scrollbar {
     display: none;
}

/*-------------------
Reponsive Images --*/
img {
     width: 100%;
     object-fit: cover;
}

/*---------
Header --*/
header {
     padding: 10px;
}


header>h1 {
     position: absolute;
     font-weight: 800;
}

/*--------
Body --*/
body {
     background-color: var(--main-background-color);
}

/*-------
Main --*/
main {
     background-color: #fff;
     color: #000 !important;
     padding: 0 3vw;
}

/*------------------------------*/
/*-----------
Nav Manu --*/
.open {
     float: right;
     font-size: 30px;
     cursor: pointer;
     color: #fff;
}

.menu {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background: rgba(0, 0, 0, 0.146);
     border-radius: 16px;
     backdrop-filter: blur(20px);
     overflow-x: hidden;
     transition: 0.5s;
}

.menu-active {
     position: relative;
     top: 25%;
     width: 100%;
     text-align: center;
     margin-top: 30px;
}

.menu a {
     padding: 8px;
     text-decoration: none;
     font-size: 36px;
     color: #fff;
     display: block;
     transition: 0.3s;
     font-weight: 300;
}

.menu a:hover,
.menu a:focus {
     color: #818181;
}

.menu .x {
     position: absolute;
     top: 20px;
     right: 45px;
     font-size: 60px;
     color: #fff;
}

/*----------------
Image Spacier --*/
.img-spacier {
     margin-bottom: -4px;
}

/*----------
Columns --*/
.container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;

     width: 100%;
     margin: 0 auto;
}

.item {
     /* width: 30%; */
     flex-basis: 40%;
     margin-bottom: 1rem;
     padding: 1rem;
}

/*----------------
Hide title pc --*/
#hide-title-pc {
     display: none;
}

/*--------------
Media query --*/
@media (max-width: 450px) {
     .menu a {
          font-size: 20px
     }

     .menu .x {
          font-size: 40px;
          top: 15px;
          right: 35px;
     }

     /* -- Header -- */
     #hide-title {
          display: none;
     }

     #hide-title-pc {
          display: block;
     }

     /* -- Columns -- */
     .container {
          display: block;
          flex-direction: column;
          align-items: center;
          margin: 0px;
          width: 100%;
     }

     .item {
          width: 100%;
          max-width: 400px;
          padding: 0px;
     }
}